---
import siteConfig from '../frontend_config.js'; 
import '../css/home.css';
import '../css/shared.css';
import Navbar from './Navbar.astro';

interface Props {
    selectedPage?: string;
}

const { selectedPage = 'home' } = Astro.props;
const title = siteConfig.site_name; 
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | FluteVision` : "FluteVision - AI-Powered Flute Training"}</title>
</head>

<body>
    <Navbar selectedPage={selectedPage}/>

    <main>
        <slot />
    </main>
    <script src="../js/api.js"></script>
    <script src="../js/navigation.js"></script>
</body>
</html>

