---
const { selectedPage } = Astro.props;
---

<header class="pixel-header">
  <div class="logo pixel-text">
    🎵 <span>FLUTE HERO</span>
  </div>

  <nav class="navbar">
    <ul class="nav-list">
      <li>
        <a href="/" class={`nav-btn ${selectedPage === 'home' ? 'active' : ''}`}>
          <span class="icon">🏠</span> HOME
        </a>
      </li>
      <li>
        <a href="/game" class={`nav-btn ${selectedPage === 'game' ? 'active' : ''}`}>
          <span class="icon">🎮</span> GAME
        </a>
      </li>
      <li>
        <a href="/practice" class={`nav-btn ${selectedPage === 'practice' ? 'active' : ''}`}>
          <span class="icon">🎓</span> PRACTICE
        </a>
      </li>
      <!-- CSS sets the line div after the third child -->
      <!-- Camera button is hidden unless its the game or pracice pages -->
      <li>
        <button id="cameraToggleBtn" class="nav-btn camera-toggle" title="Toggle Camera" style={`display: ${(selectedPage === 'game') || selectedPage === 'practice' ? '' : 'none'};`}>
          <span class="icon" style="display: block;">📹</span> CAMERA
        </button>
      </li>
      <li>
        <a href="/about" class={`nav-btn ${selectedPage === 'about' ? 'active' : ''}`}>
          <span class="icon">📊</span> ABOUT
        </a>
      </li>
    </ul>
  </nav>
</header>


