---
import BaseLayout from '../layouts/BaseLayout.astro';
import PolaroidPhoto from '../layouts/PolaroidPhoto.astro';
import '../css/components/photo_polaroid.css';

---

<BaseLayout selectedPage="about">
  <section class="hero" id="about-hero">
    <div class="about-photo">
      <PolaroidPhoto
        photopath="/images/about_brainstorming.png"
        photoAltCaption="Brainstorming"
        photoCaption="Brainstorming Session"
      />
    </div>

    <div class="about-text">
      <h1>So this is what my Brainstorming looks like</h1>
    </div>
  </section>
</BaseLayout>

