---
import BaseLayout from '../layouts/BaseLayout.astro';
import PolaroidPhoto from '../layouts/PolaroidPhoto.astro';

---

<BaseLayout selectedPage="about">
  <section class="hero" id="about-hero">
    <div class="about-photo">
      <PolaroidPhoto
        photopath="/images/about_brainstorming.png"
        photoAltCaption="Brainstorming Alt Caption"
        photoCaption="Brainstorming Session"
      />
    </div>

    <div class="about-text">
      <h1>This is the header caption</h1>
    </div>
  </section>
</BaseLayout>

