---
import BaseLayout from '../layouts/BaseLayout.astro';
import FeatureCard from '../layouts/FeatureCard.astro';
---

<BaseLayout selectedPage="home">
  <section class="container">
    <section class="hero">
      <div class="hero-box">
        <span class="hero-icons">🎵</span>
        <h1>FLUTE VISION</h1>
        <span class="hero-icons">🎮</span>
      </div>
      <p class="tagline">Learn Flute fingerings with <span class="tagline-highlight">AI!</span></p>
    </section> <!-- end: Hero -->

    <!-- How It Works -->
    <section class="getting-started">
      <h2>HOW IT WORKS</h2>
      <div class="steps">
        <div class="step">
          <span class="step-emoji">📸</span>
          <div class="step-number">1. CAMERA</div>
          <p>Open your webcam, it detects your hand and flute in real time.</p>
        </div>

        <div class="step">
          <span class="step-emoji">🎵</span>
          <div class="step-number">2. PLAY</div>
          <p>AI maps your finger positions to musical notes, no sensors, no wires, just your flute.</p>
        </div>

        <div class="step">
          <span class="step-emoji">🌟</span>
          <div class="step-number">3. LEARN</div>
          <p>Use the right notes to jump through musical tests, and increase your accuracy of notes to fingerings.</p>
        </div>
      </div>
    </section>
    

    <!-- Feature Cards -->
    <div class="features">
      <FeatureCard
        cardTitle="GAME MODE"
        cardParagraphText="Jump obstacles by playing notes! Beat your high score."
        cardButtonLink="/game"
        bgColor="#7B68EE"
        stickyIcon="🎮"
        tags={["FUN", "SCORE", "FAST"]}
      />

      <FeatureCard
        cardTitle="PRACTICE MODE"
        cardParagraphText="See how the model generalizes to your fingerings"
        cardButtonLink="/practice"
        bgColor="#FF69B4"
        stickyIcon="🎓"
        tags={["For funsies :)"]}
      />
    </div>
    <section id="home-more-info" class="getting-started">
      <h2>A Bit More Curious?</h2>
      <ul class="more-info-list">
        <li><a href="/about">About FluteVision</a></li>
      </ul>
      <p> This has a detailed overview of why I made this, the Machine Learning of it all, and features I'm thinking about adding in the future. </p>
      <p id="signoff"> Best, Hamidat!</p>
    </section>
  </section> <!-- end of the whole container -->
</BaseLayout>
